body {
	background-color: #ffffff;
	color: #323232;
	margin: 20px;
}

a {
	text-decoration-style: none;
	text-decoration-line: none;
	color: #01aaff;
}
h1, h2 {
	text-align: center;
}

#codigo {
	padding:10px;
	background-color: #efefef;
	border-radius: 5px;
}